.search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust this value as needed */
    max-width: 500px; /* Adjust this value as needed */
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
}

.search-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ignore-css{
    all:unset;
}

#view-mode h1 {
    font-size: 32px;
}

#view-mode h2 {
    font-size: 24px;
}

#view-mode h3 {
    font-size: 16px;
}