.search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust this value as needed */
    max-width: 500px; /* Adjust this value as needed */
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
}

.search-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.readable * {
    font-size: revert;
    font-weight: revert;
    font-family: "MS Sans Serif", "Microsoft Sans Serif", sans-serif;
    color: revert;
}

.readable :not(pre) > code, code.readable {
    display: inline-block;
    padding: 1px 2px;
    background-color: white;
    border-top: 2px solid #808080;
    border-left: 2px solid #808080;
    border-bottom: 2px solid #DFDFDF;
    border-right: 2px solid #DFDFDF;
    box-sizing: content-box;
}

.readable a, a.readable {
   font-family: monospace;
   font-size: large;
}

.rainbow {
    background-image: linear-gradient(
        to right,
        #ff0000,
        #ffa500,
        #ffff00,
        #00ff00,
        #0000ff,
        #4b0082,
        #9400d3,
        #ff0000
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow 4s linear infinite;
}

@keyframes rainbow {
    to {
        background-position: 200% center;
    }
}

