{% extends "base.jinja" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/pell/dist/pell.min.css">
{% endblock %}

{% block title %}Blog{% endblock %}

{% block content_title %}

{% if alt_title %}
{{ alt_title }}
{% else %}
Welcome to my blog!
{% endif %}
{% endblock %}

{% block content_description %}
{% if alt_description %}
{{ alt_description }}
{% else %}
I kinda just write random stuff that comes to my mind.
{% endif %}
{% endblock %}

{% block content %}

{% for post in posts %}
<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
<div class="flex flex-col readable">
    <p class="text-sm">{{ post.created.strftime("%B %d, %Y") }}</p>
    <h2>{{ post.title }}</h2>
    <br>
    <div class="text-md">{{ post.content | safe }}</div>
</div>
{% endfor %}


{% endblock %}