{% extends "base.jinja" %}

{% block title %}Blog{% endblock %}

{% block content %}
<h1 class="p-0 text-4xl font-bold">Welcome to my blog!</h1>
<p>I kinda just write random stuff that comes to my mind.</p>
{% endblock %}