{% extends "base.jinja" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/pell/dist/pell.min.css">
{% endblock %}

{% block title %}New Blog Entry{% endblock %}

{% block content %}


<form class="flex flex-col gap-4" action="{{ url_for('blog') }}" method="POST">
    <div id="editor" class="pell bg-white"></div>
    <input type="hidden" name="entry" id="entry">
    <button type="submit">Submit</button>
</form>

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/pell"></script>
<script src="{{ url_for('static', filename='js/blog.js') }}" type="module"></script>
{% endblock %}