{% extends "base.jinja" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/pell/dist/pell.min.css">
{% endblock %}

{% block title %}New Blog Entry{% endblock %}

{% block content %}


<form class="flex flex-col gap-4" action="{{ url_for('new_blog') }}" method="POST">
    <input type="text" name="title" placeholder="Title" required>
    <div id="editor" class="pell bg-white"></div>
    <input type="hidden" name="content" id="content">
    <button type="submit">Submit</button>
</form>

{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/pell"></script>
<script type="module">
    // Initialize pell on an HTMLElement
    pell.init({
        // <HTMLElement>, required
        element: document.getElementById('editor'),

        // <Function>, required
        // Use the output html, triggered by element's `oninput` event
        onChange: html => document.getElementById('content').value = html,
    })
</script>
{% endblock %}