{% extends "base.jinja" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/pell/dist/pell.min.css">
{% endblock %}

{% block title %}New Blog Entry{% endblock %}

{% block content %}


<form id="new-post-form" class="flex flex-col gap-4" action="{{ url_for('new_post') }}" method="POST">
    <input type="text" name="title" placeholder="Title" required>
    <input type="hidden" name="topic" id="topic" value="default" />
    <select id="topic-select " required>
        <option value="default" selected="true">Default</option>
        {% for topic in topics %}
        <option value="{{ topic }}">{{ topic }}</option>
        {% endfor %}
        <option value="other">Other</option>
    </select>
    <input class="hidden" type="text" id="topic-text" />
    <div id="editor"></div>
    <input type="hidden" name="content" id="content">
    <button class="beveled" type="submit">Submit</button>
</form>

{% endblock %}

{% block scripts %}
<script type="module">
    import { createEditor } from "{{ url_for('static', filename='js/script.js') }}";

    // Source - https://stackoverflow.com/a/75988895
    // Posted by Mr. Polywhirl, modified by community. See post 'Timeline' for change history
    // Retrieved 2026-07-20, License - CC BY-SA 4.0

    const debounce = (callback, wait) => {
        let timeoutId = null;

        return (...args) => {
            window.clearTimeout(timeoutId);
            timeoutId = window.setTimeout(() => {
                callback(...args);
            }, wait);
        };
    }

    let abortController = null

    const updateEditor = debounce(async (data) => {
        abortController?.abort()
        abortController = new AbortController()
        
        await fetch("/update_editor", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                content: data
            }),
            signal: abortController.signal
        })
    }, 400) 

    createEditor(document.getElementById('editor')).then(editor => {
        editor.setData("{{ initial_content | safe }}");

            const content = document.getElementById("content")

        editor.model.document.on('change', function (event) {
            const data = editor.getData()
            content.value = data

            updateEditor(data)
        });

        document.getElementById('topic-select').addEventListener('change', function (event) {
            if (event.target.value === 'other') {
                document.getElementById('topic-text').classList.remove('hidden');
            } else {
                document.getElementById('topic-text').classList.add('hidden');
                document.getElementById('topic').value = event.target.value;
            }
        });

        document.getElementById('topic-text').addEventListener('change', function (event) {
            document.getElementById('topic').value = event.target.value;
        });
    });

    const form = document.getElementById("new-post-form")

    form.addEventListener("submit", (event) => {
        if (form.classList.contains("submitting")) {
            event.preventDefault()
            return
        }

        form.classList.add("submitting")

        const submitButton = form.querySelector("[type=submit]")
        if (submitButton) {
            submitButton.textContent = "Submitting..."
            submitButton.ariaDisabled = true;
        }
    })
</script>
{% endblock %}