{% extends "base.jinja" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/pell/dist/pell.min.css">
{% endblock %}

{% block title %}New Blog Entry{% endblock %}

{% block content %}


<form id="new-post-form" class="flex flex-col gap-4" action="{{ url_for('new_post') }}" method="POST">
    <input type="text" name="title" placeholder="Title" required>
    <input type="hidden" name="topic" id="topic" value="default" />
    <select id="topic-select" required>
        <option value="default" selected="true">Default</option>
        {% for topic in topics %}
        <option value="{{ topic }}">{{ topic }}</option>
        {% endfor %}
        <option value="other">Other</option>
    </select>
    <input class="hidden" type="text" id="topic-text" />
    <div id="editor"></div>
    <input type="hidden" name="content" id="content">
    <button type="submit">Submit</button>
</form>

{% endblock %}

{% block scripts %}
<script type="module">
    import { createEditor } from "{{ url_for('static', filename='js/script.js') }}";

    const editor = createEditor(document.getElementById('editor'));

    document.getElementById('topic-select').addEventListener('change', function (event) {
        if (event.target.value === 'other') {
            document.getElementById('topic-text').classList.remove('hidden');
        } else {
            document.getElementById('topic-text').classList.add('hidden');
            document.getElementById('topic').value = event.target.value;
        }
    });

    document.getElementById('topic-text').addEventListener('change', function (event) {
        document.getElementById('topic').value = event.target.value;
    });

    document.getElementById('new-post-form').addEventListener('submit', function (event) {
        document.getElementById('content').value = editor.getData();
    });
</script>
{% endblock %}