{% extends "base.jinja" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold">My GitHub Projects</h1>

<div class="projects-grid">
    {% for project in projects %}
    <div class="project-card">
        <h3 class="project-title" class="bg-blue">{{ project.name }}</h3>
        <p class="project-description">{{ project.description }}</p>
        <div class="project-meta">
            <span title="Stars" class="cursor-default">⭐ {{ project.stars }}</span>
            <span title="Forks" class="cursor-default">🔄 {{ project.forks }}</span>
            <span title="Language" class="cursor-default">{{ project.language }}</span>
        </div>
        <div class="project-updated">
            Last updated: {{ project.updated_at }}
        </div>
        <div class="project-actions">
            <button class="project-link"
                onclick="window.location.href = '{{ url_for('project_details', project=project.name) }}'">View More
                Info
            </button>
            <button class="project-link" onclick="openProject(event, '{{ project.url }}')">
                <div class="flex items-center gap-2">
                    View On GitHub
                    <img src="{{ url_for('static', filename='assets/github.svg') }}" alt="github">
                </div>
            </button>

        </div>
    </div>
    {% else %}
    <p>No projects found.</p>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
    function openProject(event, url) {
        event.preventDefault();
        window.open(url, '_blank');
    }
</script>
{% endblock %}